@model ProductModel

    <div class="form-group">
        <label>Marca:</label>
        <input type="text" name="marca" class="form-control" id="txtMarca" aria-describedby="Digite a Marca de seu produto" placeholder="Marca">
    </div>

    <div class="form-group">
        <label>Modelo:</label>
        <input type="text" name="modelo" class="form-control" id="txtModelo" aria-describedby="Digite o Modelo de seu produto" placeholder="Modelo">
    </div>

    <div class="form-group">
        <label>Nome:</label>
        <input type="text" name="nome" class="form-control" id="txtNome" aria-describedby="Digite o Nome de seu produto" placeholder="Nome">
    </div>

    <div class="form-group">
        <label>Preço de Mercado:</label>
        <input type="text" name="precomercado" class="form-control" id="txtPrecoMercado" aria-describedby="Digite o Preco de Mercado do Produto" placeholder="Preco de Mercado">
    </div>

    <div class="form-group">
        <label>Preço do Produto:</label>
        <input type="text" name="precodesejado" class="form-control" id="txtPrecoDesejado" aria-describedby="Digite o Preco desejado do Produto" placeholder="Preco desejado">
    </div>

    <button type="submit" class="btn btn-primary">Adicionar</button>